.topheader {
  width: "100%";
  height: 30px;
  background-Color: rgb(255, 200, 0);
  line-height: 30px;
  text-align: center;
}
div.navi{
  margin-top: 20%
}

a:hover {
  text-decoration: underline;
}

.lin {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "serif";
}

.logo {
  background: White;
  width: "100%";
  height: 150px;
}

.e1 {
  text-align: center;
  line-height: 75px;
  font-size: 35px;
  color: rgb(170, 0, 0);
}

.e2 {
  text-align: center;
  line-height: 0px;
  font-size: 20px;
  font-family: Arial, serif;
  color: rgb(0, 0, 0);
}

.e3 {
  text-align: center;
  line-height: 0px;
  font-size: 15px;
  font-family: Arial, serif;
  color: black;
}

.e4 {
  margin-left: 100px;
  margin-top: -125px;
}

.e5 {
  margin-left: 1100px;
  margin-top: -65px;
}

.e6 {
  margin-left: 1300px;
  margin-top: -85px;
}

li:hover {
  background-color: white;
  color: Black;
}

p.one {
  border-style: solid;
  border-width: 5px 5px;
  /* 5px top and bottom, 20px on the sides */
  margin-left: 500px;
  margin-right: 300px;
  margin-top: -100px;
  z-index: 1;
}

.footer {
  width: 100%;
  height: 150px;
  background-color: rgb(200, 0, 0);
  margin-top: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}

.dis {
  width: 100%;
  height: 850px;
  padding: 50px 50px;
  background-color: Cornsilk;
}

.prin {
  width: 33%;
  height: 650px;
  margin-left: 875px;
  margin-top: 0px;
  background-color: white;
  border: 2px;
  border-color: red;
  border-style: solid;
  padding: 35px;
}

.ic {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -800px;
  margin-left: 100px;
  margin-bottom: 700px;
}

.tro {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -100px;
  margin-left: 200px;
  margin-bottom: 700px;
}

.fdc {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -100px;
  margin-left: 200px;
  margin-bottom: 700px;
}

.na {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -125px;
  margin-left: 200px;
  margin-bottom: 700px;
}

a.li {
  text-decoration: none;
}

.pl {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -650px;
  margin-left: 100px;
  margin-bottom: 450px;
}

.att {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -112px;
  margin-left: 200px;
  margin-bottom: 700px;
}

.tt {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -110px;
  margin-left: 200px;
  margin-bottom: 700px;
}

.an {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -120px;
  margin-left: 200px;
  margin-bottom: 700px;
}

.aa {
  width: 150px;
  height: 150px;
  background-color: cornsilk;
  margin-top: -400px;
  margin-left: 100px;
  margin-bottom: 250px;
}

.tabl {
  width: 1000%;
  height: 400px;
  border-radius: 15px;
  border: 3px solid red;
  margin-left: 65%;
  margin-top: -40%;
  margin-right: 0%;
}

.announ {
  margin: 2%;
  background-color: rgb(200, 0, 0);
  color: white;
  z-index: 1;
  border-radius: 5px;
  border: 5px solid rgb(200, 0, 0);
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

marquee.col {
  color: white;
}
